body {
    background-color:white;
    font-family: "Cutive Mono", sans-serif;
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 75px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    color: #4B9CD3;
    font-size: 2.25vw;
}

@media screen and (min-width: 1200px) {
    header h1 {
        font-size: 36px;
    }
}


header a:hover{
    transform: scale(1.025);
}

.nav ul {
    background-color: white;
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 50px;
    padding: 0;
    text-align: right;
}

.nav li {
    background-color: white;
    font-size: 1.75vw;
}

@media screen and (min-width: 1200px) {
     .nav li {
        font-size: 25px;
    }
}


.nav li:hover {
    transform: scale(1.05);
}

.nav a {
    background-color: white;
    color: #4B9CD3;
}

.section {
        box-sizing: border-box;
        background:
                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url('images/myhero.jpg') no-repeat center center/cover fixed;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding:0;
        text-align: center;
}

#hero-c {
    background:
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url('images/myhero.jpg') no-repeat center center/cover fixed;
}

#welcome-c {
    background-color: white;
    width: 100%;
    min-height: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 0;
    box-sizing: border-box;
    color: #4B9CD3;
    gap: 10vh;
}

#aboutme-c {
    border-top: solid white 10px;
    background:
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url('images/unc2.jpg') no-repeat center center/cover fixed;
    display: flex;
    height: auto;
    min-height: 100vh;
}

#quote {
    color: white;
    font-size: 3vw;
    text-align: center;
    padding-top: 380px;
}

@media screen and (min-width: 1200px) {
    quote {
        font-size: 50px;
    }
}


#quote h1 {
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 0;
}

#quote p {
    margin: 0;
}

#aboutme {
    background-color: white;
    color:#fd215c;
    margin: 100px ;
    width: 60vh;
    height: auto;
    text-align: center;
}

#aboutme h1 {
    font-size: 2.5vw;
    margin: 40px;
}

@media screen and (min-width: 1200px) {
     #aboutme h1 {
        font-size: 30px;
    }
}


#aboutme p {
    font-size: 1.75vw;
    margin: 50px;
    text-align: left;
    color: #4B9CD3;
}

@media screen and (min-width: 1200px) {
    #aboutme p {
        font-size: 18px;
    }
}


#welcome {
    text-align: center;
    width: 400px;
    font-size: 15px;

}

#welcome h1 {
    font-size: 24px;
    color: goldenrod;
}

#welcome p {
    letter-spacing: .05rem;
    color: #4B9CD3;
    font-family: "Courier New", sans-serif;
}

.image-c {
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

#selfie {
    width: 250px;
    height:250px;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(69,116,136,.5);
    margin: auto 0 auto 0;
    padding: 0;
}

.cutive-mono-regular {
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

a {text-decoration: none;}

.non-clickable {
    pointer-events: none;
    cursor: default;
}