body {
    background-color:white;
    font-family: "Cutive Mono";
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    color: black;
}

.nav ul {
    background-color: white;
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 50px;
    padding: 0;
    text-align: right;
}

.nav li {
    background-color: white;
    font-size: 25px;
}

.nav a {
    background-color: white;
    color: black;
}

.section {
        box-sizing: border-box;
        background:
                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url('images/myhero.jpg') no-repeat center center/cover fixed;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding:0;
        text-align: center;
}

#hero-c {
    background:
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url('images/myhero.jpg') no-repeat center center/cover fixed;
}

#welcome-c {
    background-color: white;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 500px;
    margin: 0;
    box-sizing: border-box;
    color: black;
    gap: 20px;
}

#aboutme-c {
    border-top: solid white 10px;
    background:
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url('images/unc2.jpg') no-repeat center center/cover fixed;
    display: flex;
}

#quote {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 380px;
    filter: brightness(100%);
}

#quote h1 {
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 0;
}

#quote p {
    margin: 0;
}

#aboutme {
    background-color: white;
    color:black;
    margin: 35px;
    width: 60vh;
    height: 80vh;
}

#welcome {
    text-align: center;
    width: 400px;
    font-size: 15px;

}

.image-c {
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#selfie {
    width: 250px;
    height:250px;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(69,116,136,.5);
    overflow: hidden;
    margin: auto 0 auto 0;
    padding: 0;
}
.cutive-mono-regular {
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

a {text-decoration: none;}